services:
  workspace:
    build: ./docker
    tty: true
    volumes:
      - type: bind
        source: ./workspace/
        target: /workspace/
    working_dir: /workspace/
    network_mode: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
